[defaults]
inventory = ansible/inventories/local/hosts.yml
roles_path = ansible/roles
interpreter_python = auto_silent
stdout_callback = yaml
bin_ansible_callbacks = True
localhost_warning = False
retry_files_enabled = False
